<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dişçi.Properties.Settings.DentistAutomationConnectionString"
            connectionString="Data Source=DESKTOP-MVSFB77\SQLEXPRESS;Initial Catalog=DentistAutomation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>